@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

@layer components {
  .nav_li {
    @apply px-4 py-2.5 text-[16px] font-light text-gray-700 duration-300 ease-in-out hover:cursor-pointer hover:rounded-lg hover:bg-zinc-100;
  }
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

input[type="number"]::-webkit-input-placeholder {
  color: black;
}
